<a href="https://colab.research.google.com/github/darshil8008/ML-Algorithms-Implementation/blob/main/DecisionTreeClassifier_and_RandomForestTree_on_weather_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Decision Tree Classifier

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Loading dataset

df = pd.read_csv(r'C:\Users\hp\Downloads\weather.csv')

In [ ]:
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [ ]:
df.shape

(14, 5)

In [ ]:
# convert to numerical form

df['outlook'].replace('overcast',0,inplace=True)
df['outlook'].replace('rainy',1,inplace=True)
df['outlook'].replace('sunny',2,inplace=True)
df['temperature'].replace('hot',0,inplace=True)
df['temperature'].replace('cool',1,inplace=True)
df['temperature'].replace('mild',2,inplace=True)
df['humidity'].replace('high',1,inplace=True)
df['humidity'].replace('normal',0,inplace=True)
df['windy'].replace('True',1,inplace=True)
df['windy'].replace('False',0,inplace=True)
df['play'].replace('yes',1,inplace=True)
df['play'].replace('no',0,inplace=True)

In [ ]:
df

    outlook  temperature  humidity  windy  play
0         0            0         1  False     1
1         0            1         0   True     1
2         0            2         1   True     1
3         0            0         0  False     1
4         1            2         1  False     1
5         1            1         0  False     1
6         1            1         0   True     0
7         1            2         0  False     1
8         1            2         1   True     0
9         2            0         1  False     0
10        2            0         1   True     0
11        2            2         1  False     0
12        2            1         0  False     1
13        2            2         0   True     1

In [ ]:
X = df.iloc[1:14,1:2].values
y = df.iloc[1:14,2].values

In [ ]:
# Splitting the data into Train and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [ ]:
# Training and Making Predictions

from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
# Evaluating the Algorithm

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[2 0]
 [0 1]]
             precision    recall  f1-score   support

          0       1.00      1.00      1.00         2
          1       1.00      1.00      1.00         1

avg / total       1.00      1.00      1.00         3

In [ ]:
# Random Forest Tree

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Loading dataset

df = pd.read_csv(r'C:\Users\hp\Downloads\weather.csv')

In [ ]:
df

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [ ]:
# convert to numerical form

df['outlook'].replace('overcast',0,inplace=True)
df['outlook'].replace('rainy',1,inplace=True)
df['outlook'].replace('sunny',2,inplace=True)
df['temperature'].replace('hot',0,inplace=True)
df['temperature'].replace('cool',1,inplace=True)
df['temperature'].replace('mild',2,inplace=True)
df['humidity'].replace('high',1,inplace=True)
df['humidity'].replace('normal',0,inplace=True)
df['windy'].replace('True',1,inplace=True)
df['windy'].replace('False',0,inplace=True)
df['play'].replace('yes',1,inplace=True)
df['play'].replace('no',0,inplace=True)

In [ ]:
#  Preparing Data For Training

X = df.iloc[:, 0:4].values
y = df.iloc[:, 4].values

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Training the Algorithm

from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.6833333333333332
Mean Squared Error: 0.6375
Root Mean Squared Error: 0.7984359711335656